backports.ssl-match-hostname==3.7.0.1
certifi==2020.6.20
chardet==3.0.4
configobj==5.0.6
croniter==0.3.34
dnspython==1.16.0
docker==4.2.2
docker-pycreds==0.4.0
dpath==2.0.1
freeze==3.0
idna==2.10
ipaddress==1.0.23
kafka-python==2.0.1
NebulaPythonSDK==2.7.0
parse-it==3.4.0
ply==3.11
psutil==5.7.0
pyhcl==0.4.4
python-dateutil==2.8.1
python-dotenv==0.14.0
PyYAML==5.3.1
requests==2.24.0
retrying==1.3.3
six==1.15.0
toml==0.10.1
urllib3==1.25.9
websocket-client==0.57.0
xmltodict==0.12.0
