backports.ssl-match-hostname==3.5.0.1
certifi==2017.7.27.1
chardet==3.0.4
docker==2.5.1
docker-pycreds==0.2.1
idna==2.6
ipaddress==1.0.18
pika==0.11.0
pymongo==3.7.1
requests==2.18.4
six==1.11.0
urllib3==1.22
websocket-client==0.44.0
dnspython==1.15.0